.background {
    max-width: 1250px;
}

.new {
    position: relative;
    left: 80px;
    bottom: 300px;
}

.character {
  max-width: 100px;;
  position: relative;
  left:700px;
  right: 700px;
  bottom: 300px;
  animation-name: character;
  animation-duration: 1000s;
 animation-iteration-count: 100;
}

@keyframes example { 
    
}

